
    /*  html selectors */
    iframe {
        display: none;
    }
    article {
        display: inline-flex; 
        flex-direction: column;
        background-color: #9D858D;
        border-radius: 2em;
        margin-top: 2em;
        margin-bottom: 2em;
        box-shadow: 10px 10px 20px #3F3F3B;
    }

    body {
        background-color:#D0CDD7;
        color: #3F3F3B;
        font-family: 'Rochester', !important;
        margin: 0 auto;
    }

    header {
        background-color: #3F3F3B;
        color: #D0CDD7;
        display: inline-block;
        padding-bottom: 1em;
        width: 100%;

    }

    nav {
        background-color: #3F3F3B;
        margin: auto 0;
        justify-content: space-evenly;
    }

    table,
    tr,
    th,
    td {
        border: 2px solid #3F3F3B;
        border-collapse: collapse;
        padding: 2em;

    }

    ul {
        text-align: center;
        padding-right: 2.5em;
        list-style: none;
        color: #D0CDD7;
        font-family: 'Playfair Display', serif !important;
        display: flex; 
        flex-direction: column;
        margin: 0 auto;
        background-color: #3F3F3B;


    }

    ul li a {
        display: block;
        flex-direction: column;
        text-decoration: none;
        justify-content: center;
    }

    ul li a:link {
        color: #9D858D
    }

    h1,
    h2,
    h3 {
        padding-top: 1em;
        padding-bottom: 0.5em;
        text-align: center;
        justify-content: center;
        font-family: 'Playfair Display', serif !important;
        color: #416165;
    }

    h4 {
        color: #D0CDD7;
    }

    main,
    p {
        text-align: start;
        justify-content: center;
        margin: 0 auto;
        color: #416165;
        font-family: 'Rochester', !important;
        margin: auto;

    }

    a:active {
        background-color: #416165;
    }

    a:visited {
        color: #D0CDD7
    }

    a:hover {
        background-color: #416165;
    }

    footer {
        background-color: #3F3F3B;
        padding: 1em;
        color: #D0CDD7;
        margin-top: 5em;
        font-family: 'Playfair Display', serif;
        text-align: center;

    }

    img {
        
        width: 15em;
        padding-bottom: 1em;
        padding-top: 1em;
        margin: auto;
    }

    #sodaSpringsImage {
        width: 200px;
        border-radius: 2em;
    }
    #prestonImage{
        border-radius: 2em;
    }
    #fishHavenImage {
        border-radius: 2em;
    }
    .pictures {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: auto !important;
        margin-right: auto !important;
       
    

    }
    .pictures picture img:hover {
        box-shadow: 10px 10px 20px #416165;
    }


    /*  id selectors */

    #heroimg {
        width: 95%;
    }
    #contact {
        line-height: 1.15;
        padding-left: 35%;
    }
    #contacthead {
        padding-left: 35%;
    }

    #hamburger {
        display: block
    }

    .hidemenu {
        display: none;

    }

    #head {

        display: inline-flex;
        text-align: center;
        align-content: center;

    }

    #hero {
        max-width: 100%;
        height: auto;
        text-align: center;
    }
    #cities {
        display: flex;
        flex-direction: column;
    }
    #weathersummary {
        display: block;
        flex-direction: column;
        flex-wrap: nowrap;
        position: absolute;
        top: 379px;
        left: 75px;
        padding: 1em;
        margin: 0em;
        background-color: #D0CDD7;
        font-size: 6px;
        border: 2px solid #3F3F3B;
        border-radius: 1em;
    }

    #fivedayforecast {
        display: none;
        background-color: #D0CDD7;
        border-radius: 1em;
        padding: 2em;
        max-width: 600px;
    }

    #font1 {
        font-family: 'Playfair Display', serif;
    }

    #font2 {
        font-family: 'Rochester', ;
    }

    #logo {
        width: 4em;
        height: 4em;
        margin: 0em;
        padding-left: 2em;
    }

    #target {
        background-color: #D0CDD7;
        border-radius: 1.5em;
        margin: 3em;
    }

    #firstline {
        text-align: center;
    }

    #outofzone {
        text-align: center;
        font-size: 12pt;
    }

    #slogan {
        display: inline-flex;
        font-size: 16px;
        justify-content: right;
        margin: 2em;
    }

    #motto {
        text-align: center;
        padding-left: 1.5em;
    }

    .colorpallete {
        text-align: center;
        justify-content: center;
        padding: 1.5em;
        background-color: #D0CDD7;
        border-radius: 1.5em;
        margin: 3em;
    }

    #cityarticle {
        display: inline-flex;
        padding-top: 1em;
        padding-left: 4em;
        max-width: 100px;
        background-color: #D0CDD7;
        text-align: center;
        border-radius: 1em;
        justify-content: right;
    }
    #aboutarticle {
        padding-right: 2em;
    }
    #articleimage {
        display: inline-flex;
        justify-content: center;
        padding-left: 0em;
        max-width: 125px;
        margin-top: auto;
        margin-bottom: auto;
        
    }
    form{
        display: inline-block;
        border: 2px solid #416165;
        padding: 2em;
        justify-content: center;
        text-align: center;

    }
    form div {
        border: #416165;
    }
    #rating {
        color: #416165;
    }
    #thanks {
        text-align: center;
        justify-content: center;
        margin: auto;
        color:white;
        background-color: #3F3F3B;
    }
    #sodaSpringsMotto {
        font-size: 12pt;
        padding-left: 1em;
        padding-right: 1em;
    }

@media only screen and (max-width: 35.5em) {
       
       
     

}
