@media only screen and (min-width: 62.5em) {
body section picture span button {
    left: 50px !important;
}
body main section {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
body div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
nav ul {
    font-size: 20px;
}
.hidemenu {
    display: block !important;
}
nav ul li a #hidemenu {
    display: none;
}
#hamburger {
    display: none !important;
}
nav #logo {
    position: relative;
    top: 20px;
    left: 25px;
    margin: 0;
}
main section picture #rexburg_home {
    width: 1250px;
    height: 600px;
}
section #templehomephoto{
    max-width: 400px;
    padding: 2em;
}
body main #templesbreak{
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
#templephoto {
    margin: auto;
}
}