@media only screen and (min-width: 32.5em) {
main address {
    margin-left: 45%;
}
body main div {
margin-left: 40%;
}
section form {
    margin-left: 5em;
    width: 500px !important;
    justify-content: center;
    text-align: center;
}
main section {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
nav {
    display: flex;
    flex-direction: row;
}

#nav{
    margin-top:-50px;
    margin-left: 50px;
}
main iframe {
    margin-left: 45%;
}
ul {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 0;
}
picture span button {
    position: relative;
    float: left;
    top: -400px;   
    background-color: #a7bbd3af;
}
#bookRoom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section picture #rexburg_home {
    display: inline-block;
    width: 700px;
    height: unset;
}
body main #contactForm {
    width: 500px !important;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
body section #hotelPic {
    width: 500px !important;
    margin-left: 4em;
    margin-top: 4em;
}
header #logo {
    float: left;
    margin: 0;
}
#questions {
    margin-left: 30%;
}
section #queenpic {
    width: 350px;
}
section #kingpic {
    margin-top: 2em;
    width: 400px
}
#services {
    margin-left: 2em;
    margin-right: 2em;
    max-width: 300px;
    padding-bottom: 2em;
}
#servicePage {
    margin-left: 20%;
}
#templehomephoto{
    max-width: 200px;
    justify-content: center;
    margin-left: 25%;
}
span .subnav-content{
    width: 150px;
    height: 150px;
}
li .hidemenu{
    margin-top: -1em;
}
main #templesbreak {
    grid-template-columns: 1fr 1fr 1fr;
}
main #temples {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    max-width: 400px;
    text-align: center;
}
main #templeimages {
    max-width: 300px;
    margin-right: 100px;
    margin-left: 250px;
    margin-top: 2em;
}
#weathersummary {
    height: 300px;
    width: 300px;
    padding: 1em;
}
form #wedding {
    width: 400px;
    margin-top: 1em;
}
}