@media only screen and (min-width: 32.5em) {
button {
    position: relative;
    top: -500px;
    left: 12%;
}
    nav {
    display: flex;
}
ul {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
span #rexburg_home {
    margin-left: 3em;
    width: 650px;
    height: 499px;
}

#templehomephoto{
    max-width: 200px;
    justify-content: center;
}
span .subnav-content{
    width: 150px;
    height: 150px;
}
}