@media only screen and (min-width: 32.5em) {

body main div {
margin-left: 30%;
}
    nav {
    display: flex;
}
ul {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
picture span button {
    position: relative;
    float: left;
    top: -400px;   
    background-color: #a7bbd3af;
}
section picture #rexburg_home {
    display: inline-block;
    width: 700px;
    height: unset;
}

#templehomephoto{
    max-width: 200px;
    justify-content: center;
    margin-left: 25%;
}
span .subnav-content{
    width: 150px;
    height: 150px;
}
}