h1{
    height: 5em;
    padding: 1.5rem;
    margin: 1.25rem auto;
    text-align: center;
    background-color: rgb(185, 40, 40);
    color: whitesmoke;
    font-family: 'Baskervville', serif;
}

body{
    background-color: whitesmoke;
    color: rgb(61, 59, 59);
    font-family: 'Alata', sans-serif;
    text-align: center;
}

footer{
    text-align: center;
    height: 5em;
    padding: .5rem;
    margin: 1.25rem auto;
    text-align: center;
    background-color: rgb(185, 40, 40);
    color: whitesmoke;
    font-family: 'Baskervville', serif;
}
#principle1 {
    border-radius: 1em/1em;
    border: 2px solid rgb(39, 41, 37);
    background-color: rgb(185, 40, 40);
    color: whitesmoke;
  }
#principle2 {
    border-radius: 1em/1em;
    border: 2px solid rgb(39, 41, 37);
    background-color: rgb(185, 40, 40);
    color: whitesmoke;
  }
  #principle3 {
    border-radius: 1em/1em;
    border: 2px solid rgb(39, 41, 37);
    background-color: rgb(185, 40, 40);
    color: whitesmoke;
  }
#grid {
    display: grid;
    grid-template-columns: 1fr;
}