h1{
    height: 5em;
    padding: 1.5rem;
    margin: 1.25rem auto;
    text-align: center;
    background-color: rgb(185, 40, 40);
    color: whitesmoke
}
body{
    background-color: whitesmoke;
    color: black;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
}
footer{
    text-align: center;
    height: 5em;
    padding: .5rem;
    margin: 1.25rem auto;
    text-align: center;
    background-color: rgb(185, 40, 40);
    color: whitesmoke
}