h1{
    height: 5em;
    padding: 1.5rem;
    margin: 1.25rem auto;
    text-align: center;
    background-color: rgb(185, 40, 40);
    color: whitesmoke;
    font-family: 'Baskervville', serif;
}
body{
    background-color: whitesmoke;
    color: rgb(61, 59, 59);
    font-family: 'Alata', sans-serif;
}

footer{
    text-align: center;
    height: 5em;
    padding: .5rem;
    margin: 1.25rem auto;
    text-align: center;
    background-color: rgb(185, 40, 40);
    color: whitesmoke;
    font-family: 'Baskervville', serif;
}
#grid {
    display: grid;
    grid-template-columns: 1fr;
}