body {
    background-color: #9D858D;
    color: #3F3F3B;
    font-family: 'Bad Script', cursive;
}

nav{
    background-color: #3F3F3B;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

ul {
    list-style: none;
    padding: 2.15em;
    color: #D0CDD7;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    margin: auto;
}
ul li a {
    text-decoration: none;
    padding: 2em;
}
ul li a:link{
    color: #9D858D
}
main, p {
    text-align: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2.25em;
    padding-right:2em;
    font-size: 1.5em;
    background-color: #D0CDD7;
    border-radius: 1.5em;
    margin: 2em;
    color: #416165;
    font-family: 'Bad Script', cursive;
}
a:active{
    background-color: #D0CDD7 ;
}

a:visited {
    color:  #D0CDD7
}
a:hover {
    color:  #9D858D
}
footer{
    background-color: #3F3F3B;
    padding: 2em;
    color: #D0CDD7;
    margin-top: 25em;
    font-family: 'Playfair Display', serif;
}
img {
    width: 90%;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: auto;
}
h1{
    padding-top: 2em;
    text-align: center;
    font-family: 'Bad Script', cursive;
}
#logo {
    width: 8em;
   

}
#font1 {
    font-family: 'Playfair Display', serif;
}
#font2 {
    font-family: 'Bad Script', cursive;
}
