article {
    background-color: plum;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 4px double gray;
    box-shadow: 10px 10px 15px gray; 
}
h1 {
    margin: auto;
    text-align: center;
    color: purple;
}
img {
    width: 200px;
    box-shadow: 10px 10px 20px;
}
section {
    display: grid;
    grid-template-columns: 1fr;
}


@media only screen and (min-width: 32.5em) {
    section {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 64em) {
    section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}