header img {
    width: auto;
    height: auto;
    float: right;
}
header {
background-color: blueviolet;
color: black;
}
footer{
    background-color: blueviolet;
    color: black;
}
body{
    background-color: cornsilk;
    color: black;
}