/*  html selectors */
body {
    background-color: #9D858D;
    color: #3F3F3B;
    font-family: 'Bad Script', cursive;
}

header {
    background-color: #3F3F3B;
    color: #D0CDD7;
    display: block;
    margin: auto, 0;
    padding-right: 1.25em; 
    justify-content: space-evenly;
    text-align: left;

}
nav{
    background-color: #3F3F3B;
    display: block;
    margin: auto, 0; 
    justify-content: space-evenly;
}

ul {
   text-align: center;
    padding-right: 2.75em;
    list-style: none;
    color: #D0CDD7;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;

}
ul li a {
    text-align: right;
    float: right;
    text-decoration: none;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    display: inline-flex;
    justify-content: space-evenly;
}
ul li a:link{
    color: #9D858D
}
h1, h2, h3{
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #416165;
}
h4{
    color: #D0CDD7;
}
main, p {
    text-align:start;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2.25em;
    padding-right:2em;
    margin: 0.5em;
    color: #416165;
    font-family: 'Bad Script', cursive;
    font-size: 16pt;
    line-height: 2.5em;
    margin: auto;

}
a:active{
    background-color: #D0CDD7 ;
}

a:visited {
    color:  #D0CDD7
}
a:hover {
    color:  #9D858D
}
footer{
    background-color: #3F3F3B;
    padding: 2em;
    color: #D0CDD7;
    margin-top: 25em;
    font-family: 'Playfair Display', serif;
    text-align: center;

}
img {
    width: 90%;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: auto;
}

/*  id selectors */


#hero {
    text-align: center;
}
#font1 {
    font-family: 'Playfair Display', serif;
}
#font2 {
    font-family: 'Bad Script', cursive;
}
#logo {
    width: 10em;
    margin: 0em;
    padding: 0em;
    float: left;
}
#target {
    background-color: #D0CDD7;
    border-radius: 1.5em;
    margin: 3em;
}
#firstline{
    text-align: center;
}
#outofzone{
    text-align: center;
    font-size: 12pt;
}
#slogan{
    padding-left: 15em;
    padding-bottom: 0.5em;
    font-size: 2em;
}
.colorpallete {
    text-align: center;
    justify-content: center;
    padding: 1.5em;
    background-color: #D0CDD7;
    border-radius: 1.5em;
    margin: 3em;
}